<div class="password-form">
  <p class="description">Check password strength using the form below.</p>
  <div class="input-group">
    <input
      placeholder="Type your password here..."
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="password"
    />
    <button (click)="showPassword = !showPassword">
      {{ showPassword ? 'Hide' : 'Show' }}
    </button>
  </div>

  <div class="indicators">
    <indicator-field
      *ngFor="let color of indicators | passwordStrength : password"
      [color]="color"
    ></indicator-field>
  </div>
</div>
