.password-form {
  input,
  button {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 1px solid #a7a7a7;
  }

  input {
    border-radius: 0.2rem 0 0 0.2rem;
    min-width: 20rem;
  }

  button {
    border-radius: 0 0.2rem 0.2rem 0;
    border-left: none;
    width: 5rem;
  }

  .indicators {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    div {
      min-width: 1rem;
      min-height: 1rem;
      border-radius: 0.5rem;
      margin: 0.2rem;

      background-color: #ce0000;
      border: 1px #333 solid;
    }

    .indicator-grey {
      background-color: #e0e0e0;
      border: 1px #bdbdbd solid;
    }

    .indicator-red {
      background-color: #f44336;
      border-color: #e53935;
    }

    .indicator-yellow {
      background-color: #ffc107;
      border-color: #ffb300;
    }

    .indicator-green {
      background-color: #8bc34a;
      border-color: #7cb342;
    }
  }
}
